<!DOCTYPE html>
<html lang="en">
    
    <head>
        <title>Family Chores</title>        
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />    
        <link rel="stylesheet" type="text/css" href="/assets/styles/salesforce-lightning-design-system.css" />
    </head>
    <body>
        <div class="slds-grid slds-wrap">
            <nav class="slds-col slds-size_1-of-1">
                <div class="slds-page-header">
                    <div class="slds-page-header__row">
                        <div class="slds-page-header__col-title">
                            <div class="slds-media">
                                <div class="slds-media__figure">
                                    <span class="slds-icon_container slds-icon-standard-opportunity" title="opportunity">
                                      <svg class="slds-icon slds-page-header__icon" aria-hidden="true">
                                        <use xlink:href="/assets/icons/standard-sprite/svg/actions.svg#new_task"></use>
                                      </svg>
                                      <span class="slds-assistive-text">Family Chores</span>
                                    </span>
                                  </div>
                                  <div class="slds-media__body">
                                    <div class="slds-page-header__name">
                                      <div class="slds-page-header__name-title">
                                        <h1>
                                          <span class="slds-page-header__title slds-truncate" title="Dashboard">Family Chores</span>
                                        </h1>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
            </nav>
            <main class="slds-col slds-size_1-of-2">
              Image
            </main>
            <aside class="slds-col slds-size_1-of-2">
              Tab Component
            </aside>
            <section class="slds-col slds-size_1-of-1">
              Card Component
            </section>
          </div>
    </body>
</html>